---
import Facebook from "./Facebook.astro";
import Instagram from "./Instagram.astro";


---

<footer class="w-full flex justify-center items-center flex-col bg-blue-100">
  <div class="w-full max-w-6xl px-4 md:flex md:flex-row md:items-center">
    <div class="flex justify-start items-left flex-col text-white text-left py-4 md:w-full">
      <h3 class="text-lg font-semibold">Contacto</h3>
      <p>Harmony Dental Clinic</p>
      <p>Cl. 19 #13b-355 Piso 2, La Ceja, Antioquia, Colombia</p>
      <a href="tel:3001518017"><strong>Teléfono:</strong> 3001518017</a>
      <a href="email:info@harmonydentalclinic.com"><strong>Email:</strong> info@harmonydentalclinic.com</a>
      <hr class="w-full border-white border-1 my-4 md:hidden">
    </div>
    <hr class="w-full border-white border-1 my-4 hidden md:block md:rotate-90 md:w-96">
    <div class="flex justify-start items-left flex-col text-white text-left py-4 md:w-full">
      <h3 class="text-lg font-semibold">Tratamientos</h3>
      <p>Clínica dental en La Ceja</p>
      <p>Dentista</p>
      <p>Implantología</p>
      <hr class="w-full border-white border-1 my-4 md:hidden">
    </div>
    <hr class="w-full border-white border-1 my-4 hidden md:block md:rotate-90 md:w-96">
    <div class="flex justify-start items-left flex-col text-white text-left py-4 md:w-full">
      <h3 class="text-lg font-semibold">Redes sociales</h3>
      <p>Síguenos en...</p>
      <div class="flex mt-3">
        <a class="w-[40px] h-[40px] rounded-[50%] text-black flex justify-center items-center bg-white mr-4 transition-all hover:transition-all hover:bg-gold-100 hover:text-white" href="https://www.facebook.com/harmony.dentalc/?paipv=0&eav=Afahb84Bxc6a84WBwKmk2mvhj6MwlxIGm93Wo3yykCEFFMXF-UACJg4z7AaosczeAow&_rdr" target="_blank" rel="noopener noreferrer" aria-label="SM"><Instagram class=""/></a>
        <a class="w-[40px] h-[40px] rounded-[50%] text-black flex justify-center items-center bg-white transition-all hover:transition-all hover:bg-gold-100 hover:text-white" href="https://www.facebook.com/harmony.dentalc/?paipv=0&eav=Afahb84Bxc6a84WBwKmk2mvhj6MwlxIGm93Wo3yykCEFFMXF-UACJg4z7AaosczeAow&_rdr" target="_blank" rel="noopener noreferrer" aria-label="SM"><Facebook class=""/></a>
      </div>
    </div>
  </div>
  <hr class="w-full border-white border-1 my-4">
  <div class="w-full max-w-6xl px-4 text-center text-white">
    <p>Copyright © 2024 · Harmony Dental</p>
    <a href="https://dentarios.com.mx" target="_blank" rel="noopener noreferrer">Diseño web y posicionamiento: Dentarios</a>
  </div>
</footer>