---

---

<footer class="w-full flex justify-center items-center flex-col md:flex-row">
  <div class="w-full max-w-6xl px-4">
    <div class="flex justify-start items-left flex-col text-white text-left py-4">
      <h3 class="text-lg font-semibold">Contacto</h3>
      <p>Harmony Dental Clinic</p>
      <p>Cl. 19 #13b-355 Piso 2, La Ceja, Antioquia, Colombia</p>
      <a href="tel:3168670099"><strong>Teléfono:</strong> 3168670099</a>
      <a href="email:info@harmonydentalclinic.com"><strong>Email:</strong> info@harmonydentalclinic.com</a>
      <hr class="w-full border-white border-1 my-4">
    </div>
    <div class="flex justify-start items-left flex-col text-white text-left py-4">
      <h3 class="text-lg font-semibold">Tratamientos</h3>
      <p>Clínica dental en La Ceja</p>
      <p>Dentista</p>
      <p>Implantología</p>
      <hr class="w-full border-white border-1 my-4">
    </div>
    <div class="flex justify-start items-left flex-col text-white text-left py-4">
      <h3 class="text-lg font-semibold">Redes sociales</h3>
      <p>Síguenos en...</p>
      <div class="flex mt-3">
        <a class="w-[40px] h-[40px] rounded-[50%] flex justify-center items-center bg-white mr-4" href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram text-black flex justify-center items-center"></i></a>
        <a class="w-[40px] h-[40px] rounded-[50%] flex justify-center items-center bg-white" href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook text-black flex justify-center items-center"></i></a>
      </div>
    </div>
  </div>
  <hr class="w-full border-white border-1 my-4">
  <div class="w-full max-w-6xl px-4 text-center text-white">
    <p>Copyright © 2024 · Harmony Dental</p>
    <a href="https://dentarios.com.mx" target="_blank" rel="noopener noreferrer">Diseño web y posicionamiento: Dentarios</a>
  </div>
</footer>

<style>
  footer {
    background-color: var(--blue-100);
  }
</style>