---

---

<section class="w-full flex justify-center items-center flex-col">
  <div class="w-full max-w-screen-xl px-4 py-14 md:flex md:justify-evenly md:items-center">
    <img class="mb-6 rounded-md bg-gradient-to-r from-blue-100 to-indigo-950 md:max-w-80" src="/somos-img.png" alt="Imagen Somos">
    <div class=" max-w-[500px]">
      <h1 class="font-black text-4xl text-center md:text-6xl">¡Somos <strong class="text-gold-100">Harmony Dental Clinic!</strong></h1>
      <p class="text-lg mt-4 text-start font-semibold md:text-xl md:pl-4">Nos complace poner a tu disposición una extensa variedad de servicios odontológicos con el objetivo de preservar el bienestar de tu salud bucal. Nuestro grupo de odontólogos altamente calificados se dedica a proporcionar atención dental de la más alta calidad con un enfoque profesional tanto para ti como para tu familia.</p>
    </div>
  </div>
  <section class="flex justify-center items-center flex-col w-full max-w-screen-xl pb-14 px-4 md:flex-row-reverse">
    <div class=" pb-5 md:w-1/2 md:max-w-[500px] md:pl-4">
      <h2 class="font-black text-4xl text-center md:text-6xl text-gold-100">¿Quiénes somos?</h2>
      <p class="text-lg mt-4 text-start font-semibold md:text-xl md:pl-6">En Harmony Dental Clinic hacemos una odontología sincera nos movemos exclusivamente por el bien del paciente enfocándonos en el problema que trae el paciente y haciéndole ver que la boca es un todo que está engranado de una determinada manera y que las enfermedades de la bocaprovocan alteraciones que los pacientes no son capaces de vislumbrar, promoviendo una solución integral para devolver una salud real a su boca y todos los beneficios que conllevan a corto y sobre todo a largo plazo. Basta ya de tener la boca siempre mal o regular.</p>
    </div>
    <section class="w-full grid grid-cols-10 auto-rows-[10rem] gap-4 place-content-center md:w-1/2 md:auto-rows-[10rem]">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-1.jpg" alt="COnsultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-2.jpg" alt="COnsultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-2.jpg" alt="COnsultorio">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-3.jpg" alt="Consultorio">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-1.jpg" alt="Consultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-2.jpg" alt="COnsulorio">
    </section>
  </section>
</section>

<style>
  .img-c {
    transition: all 0.2s ease-in-out;
  }
  .img-c:hover {
    -webkit-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    -moz-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    transition: all 0.2s ease-in-out;
  }
</style>