---

---

<section class="w-full flex justify-center items-center">
  <div class="w-full max-w-screen-xl px-4 py-14">
    <img class="mb-6" src="/somos-img.jpg" alt="Imagen Somos">
    <h1 class="font-black text-4xl text-center">¡Somos <strong>Harmony Dental Clinic!</strong></h1>
    <p class="text-lg mt-4 text-start font-semibold">Nos complace poner a tu disposición una extensa variedad de servicios odontológicos con el objetivo de preservar el bienestar de tu salud bucal. Nuestro grupo de odontólogos altamente calificados se dedica a proporcionar atención dental de la más alta calidad con un enfoque profesional tanto para ti como para tu familia.</p>
  </div>
</section>

<style>
  strong {
    color: var(--gold-100);
  }
</style>