---
import Galeria from "./Galeria.astro";


---

<section class="w-full flex justify-center items-center flex-col" id="Nosotros">
  <div class="w-full max-w-screen-xl px-4 py-14 flex justify-center items-center flex-col md:flex-row md:justify-evenly ">
    <h1 class="font-black text-4xl text-center pb-3 md:hidden">¡Somos <strong class="text-gold-200">Harmony Dental Clinic!</strong></h1>
    <img class="w-full mb-6 rounded-md bg-gradient-to-r from-blue-100 to-indigo-950 md:max-w-80" src="/somos-img.webp" alt="Imagen Somos">
    <div class=" max-w-[500px]"> 
      <h1 class="hidden font-black text-4xl text-center md:text-6xl md:block">¡Somos <strong class="text-gold-200">Harmony Dental Clinic!</strong></h1>
      <p class="text-lg mt-4 text-start font-semibold md:text-xl md:pl-4">Nos complace poner a tu disposición una extensa variedad de servicios odontológicos con el objetivo de preservar el bienestar de tu salud bucal. Nuestro grupo de odontólogos altamente calificados se dedica a proporcionar atención dental de la más alta calidad con un enfoque profesional tanto para ti como para tu familia.</p>
    </div>
  </div>
  <section class="w-full max-w-screen-xl pb-14 px-4 grid grid-cols-1 gap-4 place-items-center md:grid-cols-2 md:gap-8">
    <div class=" pb-5 md:pl-4 md:order-2">
      <h2 class="font-black text-4xl text-center md:text-6xl text-gold-200">¿Quiénes somos?</h2>
      <p class="text-lg mt-4 text-start font-semibold md:text-xl md:pl-6">En Harmony Dental Clinic nos preocupamos por la sonrisa de nuestros pacientes. Brindamos una atención personalizada a cada uno de nuestros clientes dando la solución adecuada de acuerdo a sus necesidades.
        Estamos comprometidos a atender tus problemas dentales de manera particular, para poder darte un diagnóstico correcto y así darte el tratamiento indicado para que vuelvas a sonreír.</p>
    </div>
    <!-- <section class="w-full grid grid-cols-10 auto-rows-[10rem] gap-4 place-content-center md:w-1/2 md:auto-rows-[10rem]">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-1.webp" alt="COnsultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-2.webp" alt="COnsultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-3.webp" alt="COnsultorio">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-4.webp" alt="Consultorio">
      <img class="w-full h-full col-span-4 rounded-lg relative img-c object-cover" src="/c-1.webp" alt="Consultorio">
      <img class="w-full h-full col-span-6 rounded-lg relative img-c object-cover" src="/c-6.webp" alt="COnsulorio">
    </section> -->
    <Galeria 
      img="c"
    />
  </section>
</section>

<style>
  .img-c {
    transition: all 0.2s ease-in-out;
  }
  .img-c:hover {
    -webkit-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    -moz-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    transition: all 0.2s ease-in-out;
  }
</style>