---
import WhatsApp from "./WhatsApp.astro";
---

<section class="w-full flex justify-center items-center" id="Promociones">
  <div class="w-full max-w-7xl px-4">
    <h2 class="text-center font-black text-4xl md:text-6xl">Conoce nuestras promociones</h2>
    <div class="grid grid-cols-1 place-content-center mt-6 mb-6 gap-4 md:grid-cols-[410px_minmax(350px,_400px)_0px]">
      <div class="flex justify-center items-center flex-col">
        <a href="https://api.whatsapp.com/send?phone=523001518017" class="img-c rounded-lg mb-4 md:max-w-96" target="_blank">
          <img src="/Promos-Recuperado.webp" alt="Promoción 1" class="rounded-lg max-w-96">
        </a>
        <a class=" px-4 py-3 rounded-md text-white font-semibold a-c flex justify-center items-center" href="https://api.whatsapp.com/send?phone=523001518017" target="_blank" rel="noopener noreferrer"><WhatsApp class="mr-1 mb-[2px]"/></i> WhatsApp</a>
      </div>
      <div class="flex justify-center items-center flex-col">
        <a href="https://api.whatsapp.com/send?phone=523001518017" class="img-c rounded-lg mb-4 md:max-w-96" target="_blank">
          <img src="/Promos-Recuperado2.webp" alt="Promoción 1" class="rounded-lg max-w-96">
        </a>
        <a class=" px-4 py-3 rounded-md text-white font-semibold a-c flex justify-center items-center" href="https://api.whatsapp.com/send?phone=523001518017" target="_blank" rel="noopener noreferrer"><WhatsApp class="mr-1 mb-[2px]"/></i> WhatsApp</a>
      </div>
    </div>
  </div>
</section>

<style>
  .a-c {
    background: linear-gradient(45deg, var(--gold-100), var(--gold-200));
    transition: all 0.1s linear;
  }
  .a-c:hover {
    transition: all 0.1s linear;
    transform: rotate(10deg);
  }
  .img-c {
    transition: all 0.2s ease-in-out;
  }
  .img-c:hover ~ .a-c {
    transition: all 0.1s linear;
    transform: rotate(10deg);
  }
  .img-c:hover {
    -webkit-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    -moz-box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    box-shadow: 0px 0px 27px 17px rgba(219,183,115,0.65);
    transition: all 0.2s ease-in-out;
  }
</style>