---

---

<section class="w-full flex justify-center items-center">
  <div class="w-full max-w-7xl px-4">
    <h2 class="text-center font-black text-4xl">Conoce nuestras promociones</h2>
    <div class="grid grid-cols-1 place-content-center mt-6 mb-6 gap-4">
      <div class="flex justify-center items-center flex-col">
        <img src="/Promos-Recuperado.png" alt="Promoción 1" class="rounded-lg mb-4">
        <a class=" px-4 py-3 rounded-md text-white font-semibold" href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i> WhatsApp</a>
      </div>
      <div class="flex justify-center items-center flex-col">
        <img src="/Promos-Recuperado2.png" alt="Promoción 1" class="rounded-lg mb-4">
        <a class=" px-4 py-3 rounded-md text-white font-semibold" href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i> WhatsApp</a>
      </div>
    </div>
  </div>
</section>

<style>
  a {
    background-color: var(--gold-200);
    transition: all 0.275s linear;
  }
  a:hover {
    transition: all 0.275s linear;
    background-color: var(--gold-100);
  }
</style>