---
interface Props {
  text: string
  name: string
  img: string
}
const { text, name, img  } = Astro.props
import Cita from './Cita.astro'
import CitaD from './CitaD.astro'
---

<li class="splide__slide lg:pl-3" aria-roledescription="Reseña pacientes">
  <div class="p-10 bg-white h-full">
    <img src={img} class=" w-16" alt="Foto de perfil paciente">
    <p class="text-lg font-semibold mt-7 relative pb-1"><Cita />{text}<CitaD /></p>
    <hr class="w-full border-gray border-1 my-4">
    <h3 class=" pt-5 font-semibold text-lg">{name}</h3>
  </div>
</li>