---

---

<div class="w-full h-[450px] md:h-[600px]">
  <div class="swiper sample-slider">
    <div class="swiper-wrapper" id="slider">
      <div class="swiper-slide" data-swiper-autoplay="2000"><img src="/slider-1.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide" data-swiper-autoplay="2000"><img src="/slider-2.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide" data-swiper-autoplay="2000"><img src="/slider-3.jpg" alt="Imagen Slider"></div>
    </div>
  </div>
</div>  

<style>
  .sample-slider{
    width: 100%;
    height: 100%;
  }
  .sample-slider img{
    width: 100%;
    object-fit: cover;
    height: -webkit-fill-available;
  }
</style>
<script>
  import Swiper from 'swiper';
  import { Autoplay, EffectFade } from 'swiper/modules';
  const swiper = new Swiper('.sample-slider', {
    modules: [Autoplay, EffectFade],
    speed: 400,
    loop: true,
    autoplay: {
      delay: 5000,
    },
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
  });
</script>