---

---

<div class="w-full md:h-[600px]">
  <div class="swiper sample-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide desktop"><img src="/slider-1.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide movil"><img src="/movil-slider.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide desktop"><img src="/slider-2.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide movil"><img src="/movil-slider-2.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide desktop"><img src="/slider-3.jpg" alt="Imagen Slider"></div>
      <div class="swiper-slide movil"><img src="/movil-slider-3.jpg" alt="Imagen Slider"></div>
    </div>
  </div>
</div>

<style>
  .sample-slider{
    width: 100%;
    height: 100%;
  }
  .sample-slider img{
    width: 100%;
    object-fit: cover;
    height: -webkit-fill-available;
  }
  .desktop {
    display: none !important;
  }
  @media (min-width: 768px) {
    .desktop {
      display: block !important;
    }
    .movil {
      display: none !important;
    }
  }
</style>

<script>
  const swiper = new Swiper('.sample-slider', {
    loop: true,                         //loop
    autoplay: {                         //autoplay
      delay: 2500,  
      disableOnInteraction: false,
    },
    effect: 'fade',         // apply fade effect
    fadeEffect: {           
      crossFade: true     // resolve the overlapping of the slides
    },       
  })
</script>