---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="En Harmony Dental Clinic, ofrecemos servicios dentales de calidad con un enfoque en la salud bucal integral. Nuestro equipo de profesionales altamente calificados se especializa en una variedad de tratamientos, desde limpiezas y chequeos de rutina hasta procedimientos de ortodoncia y estética dental. Descubre cómo podemos crear y mantener tu sonrisa saludable y hermosa. ¡Agenda tu cita hoy!">
		<meta name="keywords" content="dentista, salud dental, odontología, ortodoncia, estética dental, limpieza dental, chequeo dental, Harmony Dental Clinic">
		<meta name="author" content="Leonel Valentín">
		<meta name="robots" content="index, follow">
		<meta property="og:image" content="/meta.png" />
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: Salve-Sans;
		src: url(../fonts/Salve-Sans.otf);
	}
	@font-face {
		font-family: SalveBold;
		src: url(../fonts/Salve-SansBold.otf);
	}
	:root {
		--blue-100: rgb(20, 28, 36);
		--gold-200: rgb(140,92,36);
		--gold-100: rgb(219,182,115);
		--swiper-pagination-color: var(--gold-100);
	}
	* {
		box-sizing: border-box;
		text-decoration: none;
		scroll-behavior: smooth;
	}
	html {
		font-family: Salve-Sans, sans-serif;
	}
</style>